.profile__edit-button {
  background-color: transparent;
  border: 1px solid white;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
