.profile__info {
  color: #fff;
  margin-left: 30px;
  display: grid;
  grid-template-columns: 374px 24px;
  grid-template-rows: 39px 22px;
  align-items: center;
  gap: 13px 18px;
}
@media screen and (max-width: 880px) {
  .profile__info {
    grid-template-columns: 205px 24px;
    gap: 13px 5px;
  }
}

@media screen and (max-width: 610px) {
  .profile__info {
    grid-template-columns: 205px 24px;
    gap: 13px 15px;
    justify-items: center;
    margin-left: 0;
    margin-top: 26px;
  }
}
