.form__button {
  background-color: #000000;
  height: 50px;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 18px;
  line-height: 1.21;
  border-radius: 2px;
}

.form__button:hover {
  opacity: 0.8;
}
@media screen and (max-width: 610px) {
  .form__button {
    font-size: 14px;
  }
}
