<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Around the US</title>
    <link rel="stylesheet" href="./page/index.css" />
  </head>
  <body>
    <div class="page">
      <header class="header">
        <img
          src="<%= require('./images/logo.svg')%>"
          alt="Logo de Around the US"
          class="header__logo"
        />
      </header>
      <main>
        <div class="popup" id="edit-popup">
          <div class="popup__container">
            <img
              src="<%= require('./images/add.svg')%>"
              alt="Icono de cerrar"
              class="popup__close-icon"
            />
            <form action="#" class="form" id="edit-form" novalidate>
              <h2 class="form__title">Editar perfil</h2>
              <label class="form__label">
                <input
                  type="text"
                  class="form__input"
                  id="name"
                  minlength="2"
                  maxlength="40"
                  required
                />
                <span class="form__input-error" id="name-error"></span>
              </label>
              <label class="form__label">
                <input
                  type="text"
                  class="form__input"
                  id="job"
                  minlength="2"
                  maxlength="200"
                  required
                />
                <span class="form__input-error" id="job-error"></span>
              </label>
              <button class="form__button form__button_disabled">
                Guardar
              </button>
            </form>
          </div>
        </div>
        <div class="popup" id="add-popup">
          <div class="popup__container">
            <img
              src="<%= require('./images/add.svg')%>"
              alt="Icono de cerrar"
              class="popup__close-icon"
            />
            <form action="#" class="form" id="add-form" novalidate>
              <h2 class="form__title">Nuevo lugar</h2>
              <label class="form__label">
                <input
                  type="text"
                  class="form__input"
                  id="title"
                  placeholder="Titulo"
                  minlength="2"
                  maxlength="30"
                  required
                />
                <span class="form__input-error" id="title-error"></span>
              </label>
              <label class="form__label">
                <input
                  type="url"
                  class="form__input"
                  id="link"
                  placeholder="Enlace a la imagen"
                  required
                />
                <span class="form__input-error" id="link-error"></span>
              </label>
              <button class="form__button form__button_disabled">Crear</button>
            </form>
          </div>
        </div>
        <div class="popup" id="image-popup">
          <div class="popup__image-container">
            <img
              src="images/add.svg"
              alt="Icono de cerrar"
              class="popup__close-icon"
            />
            <img src=" " alt="" class="popup__image" />
            <p class="popup__image-title"></p>
          </div>
        </div>
        <section class="profile">
          <img
            src="<%= require('./images/avatar.jpg')%>"
            alt="Persona mayor con el mar de fondo"
            class="profile__avatar"
          />
          <div class="profile__info">
            <h1 class="profile__name"></h1>
            <button class="profile__edit-button">
              <img
                src="<%= require('./images/edit.svg')%>"
                alt="Icono de editar"
              />
            </button>
            <p class="profile__description"></p>
          </div>
          <button class="profile__add-button">
            <img
              src="<%= require('./images/add.svg')%>"
              alt="Icono de agregar"
            />
          </button>
        </section>
        <section>
          <ul class="cards-container"></ul>
        </section>
      </main>
      <footer class="footer">
        <p class="footer__copy">&copy; 2021 Alrededor de los EEUU</p>
      </footer>
      <template id="card-template">
        <li class="card">
          <button class="card__delete-icon"></button>
          <img src=" " alt="" class="card__image" />
          <div class="card__footer">
            <h2 class="card__title"></h2>
            <button class="card__like-icon"></button>
          </div>
        </li>
      </template>
    </div>
    <script type="module" src="./page/index.js"></script>
  </body>
</html>
